<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <title>JS Playground</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/iconfont.css"/>
    <link rel="stylesheet" href="/css/slick/slick.css"/>
    <link rel="stylesheet" href="/css/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/css/stylesheet.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/jquery.fancybox.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/magnific-popup.css"/>
    <link rel="stylesheet" href="/css/plugins.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/responsive.css" />
    <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<audio id="myAudio" autoplay>
    <source src="/images/bgm.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>


<body data-spy="scroll" data-target=".navbar-collapse">

<div class='preloader'>
    <div class='loaded'>&nbsp;</div>
</div>
<div class="culmn">
    <header id="main_menu" class="header navbar-fixed-top">
        <div class="main_menu_bg">
            <div class="container">
                <div class="row">
                    <div class="nave_menu">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">

                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="/main">
                                        <img width="180" height="150" src="/images/zxc.gif" />
                                </div>

                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="/main">홈</a></li>
                                        <li><a href="/notice/noticeList">게시판</a></li>
                                    </ul>
                                </div>

                            </div>
                        </nav>
                    </div>
                </div>

            </div>

        </div>
    </header>


    <section id="home" class="home">
        <div class="overlay">
            <div class="home_skew_border">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="main_home_slider text-center">
                                <div class="single_home_slider">
                                    <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                        <h3>-JS PlayGround-</h3>
                                        <h1>JS 미니게임 모음집</h1>
                                        <div class="separator"></div>
                                        <p>자바스크립트 미니게임 모음집에 오신 여러분을 환영합니다!
                                            <br><br>
                                            당신의 웹 브라우저 안에서 다양한 재미와 도전이 담긴 미니게임을 즐겨보세요.
                                            손쉬운 조작으로 게임을 플레이하고, 친구들과 점수를 경쟁하며 미니게임 세계에서 최고의 승자가 되어보세요.
                                        </p>
                                        <div class="home_btn">
                                            <a href="/test2" class="btn btn-default">로그아웃</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="single_home_slider">
                                    <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                        <h3>자바스크립트 게임 목록</h3>
                                        <h1>스네이크 게임</h1><br><h2 style="color: white;">난이도 : ★</h2>
                                        <div class="separator">
                                        </div>
                                        <div style="display: flex; justify-content: center; ">
                                        <img src="/images/snake.png" width="200" height="200" alt="마멋">
                                        </div>
                                        <p>플레이어는 뱀을 조종하여 먹이를 먹고 점점 길게 키워나가는 게임입니다. 뱀의 머리를 벽이나 자신의 몸에 부딪히지 않도록 주의해야 합니다. 최대한 긴 뱀을 만들어 최고점을 향해 도전하세요!</p>
                                        <div class="home_btn">
                                            <a href="/test" class="btn btn-lg m_t_10">플레이하러 가기</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="single_home_slider">
                                    <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                        <h3>자바스크립트 게임 목록</h3>
                                        <h1>공 피하기</h1><br><h2 style="color: white;">난이도 : ★★</h2>
                                        <div class="separator">
                                        </div>
                                        <div style="display: flex; justify-content: center; ">
                                            <img src="/images/ball.png" width="200" height="200" alt="마멋">
                                        </div>
                                        <p>플레이어는 화면 상단에서 아래로 내려오는 공들을 피하며 생존하는 게임입니다. 공이 플레이어와 충돌하면 게임이 종료됩니다. 난이도는 점점 올라가며, 빠르게 움직이는 공들을 피하는 동안 최대한 오래 버텨보세요.</p>
                                        <div class="home_btn">
                                            <a href="/test3" class="btn btn-lg m_t_10">플레이하러 가기</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="single_home_slider">
                                    <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                        <h3>자바스크립트 게임 목록</h3>
                                        <h1>벽돌 깨기</h1><br><h2 style="color: white;">난이도 : ★★★</h2>
                                        <div class="separator"></div>
                                        <div style="display: flex; justify-content: center; ">
                                            <img src="/images/catsi.png" width="300" height="200" alt="마멋"> </div>
                                        <p>플레이어는 패드를 움직여 공을 튕겨 벽돌을 파괴하고, 모든 벽돌을 없애면 다음 레벨로 진행합니다. 각 벽돌은 다른 점수를 가지며, 스테이지를 클리어하는 데 도전합니다.</p>
                                        <div class="home_btn">
                                            <a href="/test5" class="btn btn-lg m_t_10">플레이하러 가기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>



</div>

<script src="/js/vendor/jquery-1.11.2.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>

<script src="/js/jquery.magnific-popup.js"></script>
<script src="/js/jquery.mixitup.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.masonry.min.js"></script>

<!--slick slide js -->
<script src="/css/slick/slick.js"></script>
<script src="/css/slick/slick.min.js"></script>


<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>

</body></html>
